{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container-fluid">
        {% block navbar %}
        {% if user.is_authenticated %}
        {% include 'pizza/logged_navbar.html' %}
        {% else %}
        {% include 'pizza/base_navbar.html' %}
        {% endif %}
        {% endblock navbar %}
    </div>

    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>
</body>

</html>