<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="{% url 'homepage' %}" class="navbar-brand">Home</a>
    <button class="navbar-toggler" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item cart">
                <a href="" > <span class="items-num">0</span><ion-icon size="large" name="basket"></ion-icon></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'menu' %}" class="nav-link">Menu</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'register' %}" class="nav-link">Register</a>
            </li>
        </ul>
    </div>
</nav>