<!-- This will change after creating menu models, pass menu items as a context object -->

{% extends 'pizza/base.html' %} {% block title %}Menu{% endblock title %}
{% load static %}

{%block body %} {% if user.is_authenticated %}
<div
  class="alert alert-success"
  role="alert"
  style="text-align: center; margin-top: 1%;"
>
  Welcome, {{user.get_username}}. Now order your favourite food!
</div>
{% endif %}
<div class="row">
  <div class="col">

  {% for category, items in menu.items %}
  <table class="table table-responsive-lg">
      <caption>
          {{ category }}
      </caption>
       <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Small</th>
          <th scope="col">Large</th>
            <th scope="col">Price</th>
            <th class="fit">Buy</th>
        </tr>
  </thead>
        <tbody>
        {% for item in items %}
        <tr>
          <td>{{item}}</td>
          <td>{% firstof item.small_price "-" %}
          </td>
          <td>{% firstof item.large_price "-" %}</td>
        <td>{% firstof item.price "-" %}</td>
        <td class="fit"><button type="button" class="btn btn-primary btn-sm add-to-cart">Add to Cart</button></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  {% endfor %}
  </div>
</div>
{% endblock body %}
{% block footer %}
    <script src="{% static "js/menu.js" %}"></script>
{% endblock footer %}
