<!-- This will change after creating menu models, pass menu items as a context object -->

{% extends 'pizza/base.html' %} {% block title %}Menu{% endblock title %}
{% load static %}

{%block body %} {% if user.is_authenticated %}
<div
  class="alert alert-success"
  role="alert"
  style="text-align: center; margin-top: 1%;"
>
  Welcome, {{user.get_username}}. Now order your favourite food!
</div>
{% endif %}
<div class="row">
  <div class="col">

  {% for category, items in menu.items %}
    {% for item in items %}

  <table class="table table-responsive-lg">
      <caption>
          {{ category }}
      </caption>
       <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>

          {% if item.price %}
            <th scope="col">Price</th>
          {% endif %}

          <th scope="col">Quantity</th>

          <th>Buy</th>
        </tr>
  </thead>
        <tbody>
          <tr id="{{item|cut:" "}}" name={{item}}>
            <td>{{item}}</td>
            <td id="{{item|cut:" "}}-price">{% firstof item.price "-" %}</td>
            <td>
              <select id="{{item|cut:" "}}-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </td>
          <td>
            <button
              name={{item|cut:" "}}
              type="button" 
              class="btn btn-primary btn-sm add-to-cart"
              id="{{item.id}}"
              >Add to Cart
            </button>
          </td>

          </tr>
      </tbody>
  </table>
          {% endfor %}

  {% endfor %}
  </div>
</div>
{% endblock body %}
{% block footer %}
    <script src="{% static "js/menu.js" %}"></script>
{% endblock footer %}
