{% extends "pizza/base.html" %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block body %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Increment/decrease</th>
    </tr>
  </thead>
  <tbody class="cart-table">
     {% comment %} <tr>
      <th scope="row">Cheese</th>
      <td>5</td>
      <td>20.5</td>
      <td><button class="increment">+</button><button class="decrement">-</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>   {% endcomment %}
  </tbody>
</table>
    <button type="button" class="btn btn-success btn-sm checkout">Checkout</button>
    <p class="total"></p>
{% endblock %}
{% block footer %}
    <script src="{% static "js/cart.js" %}"></script>
{% endblock footer %}